html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 350px;
}

.main-footer{
    position: absolute;
    bottom: 20px;
    width: 100%;
/*    Set the fixed height*/
    height: max-content; 
}

.sub-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
/*    Set the fixed height*/
    height: max-content; 
}